<div class="wrapper">
    <!-- <app-nav></app-nav> -->
    <!-- <div app-nav></div> -->
    <div class="app-nav"></div>
    <app-header></app-header>
    <app-notification></app-notification>
    <app-search></app-search>
    <app-products></app-products>
</div>
<div>
    <app-sub-headre></app-sub-headre>
    <app-courses></app-courses>
</div>
<div>
    <!-- <app-demo></app-demo> -->
    <app-customer-list #customer></app-customer-list>
    <p>You have Selected {{customer.selectedCustomer?.name}} from  {{customer.selectedCustomer?.city}} in {{customer.selectedCustomer?.country}}  </p>
</div>
<div>
    <app-child-app></app-child-app>
</div>


<div>
    <app-app5></app-app5>
</div>